body,h1 { 
  margin:0px;
  padding: 0px;
}
body{
  background-color: #f7f7ef;
}
.topbar{
  height: 50px;
  margin-top: -1px;      
  width: 100%;
  float: left;
  position: fixed;
  z-index: 100;
}
.topbar>.ss{
 height:50px;
  width: 12%;
  float: left;
  background-color: #332965;
  text-align: center;
  color: #f7f7ef;
  line-height: 23px;
  font-weight: bold;

}
#kk{
  
}
.topbar>.s{
  float: left;
  height: 50px;
  width: 88%;
  display: block;
  text-align: center;
  background-color: #332965;
}
  .topbar>.s>ul {
  width: 100%;
   list-style: none;
   margin: 0;
   padding-left: 11%;
   overflow: hidden;
   text-decoration: none;
}  

.topbar>.s>ul>li {
      text-align: center;
      min-width: 10%;
      text-decoration: none;
      float: left;
      font-weight: bold; 
  
}
.topbar>.s>ul>li>a {
  display: block;
  color: #f7f7ef;
  text-align: center;
  padding: 16px 0px;
  text-decoration: none;
}
.text{
  color: #E23625;
}
li a:hover:not(.active) {
  background-color: #E23625;
  
}
.second>.titlehere>h1{
  margin-top: 2%;
}
.second{
  margin-top: 2%;
  float: left;
  width: 100%;
  height: 150px;
  margin-top: 50px;
}
.second>.img1{
  float: left;
  width: 15%;
  height: 200px;
  color: white;
  background-color: #f7f7ef;
}
.second>.img1>img{
  float: left;
  width: auto;
  height: auto;
}

.second>.titlehere{
  float: left;
  width: 70%;
  height: 120px;
  background-color: #f7f7ef;

}
.second>.img3{
  float: right;
  width: 15%;
  height: 200px;
  background-color: #f7f7ef;
  color: white;
}
.second>.img3>img{
  float: left;
  width: auto;
  height: auto;
}
#video{
  color: #E23625; 
  font-size: 40px; 
  font-weight: bold; 
  font-style: italic;
}
.logindetails{
  float: right;
  margin-top: 20%;
  width: 15%;
  background-color: #f7f7ef;
}
.logindetails>.query{
   color: #332965;
  font-weight: bold; 
  font-size: 8; 
  width: 12%; 
  margin-left: 65%; 
  margin-top: 10%;
}
.logindetails>.query1{
  color: #332965;
  font-weight: bold; 
  font-size: 10; 
  width: 12%; 
  margin-left: 62%; 
  margin-top: 10%;
}
.logindetails>.email>a>img{
  margin-top: -18%;
  float: right;
  height: 25%;
  width: 33%;
  margin-left: 55%;
  cursor: pointer;
  background-color: red;
}
.logindetails>.registerform>img{
  float: right;
  margin-top: -15%;
  height: 25%;
  width: 33%;
  background-color: red;
  color: white; 
}
.mainContent{
  padding:20px;
  width: 70%;
  margin : 0 auto;
  background-color: #f7f7ef;
  display: block;
}
.eventTable>table{
  border: 1px solid black;

}
.eventTable>td>img{
  height: 300px;
  width: 500px;
  padding: 50px;
}
.eventTable>td{
 
  height: 300px;
  width: 500px;
  margin-top: 2%;
  vertical-align: top;
  text-align: center;
  font-size: 40;
  font-style: italic;
  font-weight: bold;
}
.eventTable>.tabtext{
  margin-left: 5%;
  text-align: left;
  font-style: italic;
  font-weight: bold;
}
.eventTable1>table{
  border: 1px solid black;

}
.eventTable1>td>img{
  min-height: 100%;
 min-width: 100%;
}
.eventTable1>td{
 
  height: 300px;
  width: 500px;
  margin-top: 2%;
  vertical-align: top;
  text-align: center;
  font-size: 40;
  font-style: italic;
  font-weight: bold;
}
.eventTable1>.tabtext{
  margin-left: 5%;
  text-align: left;
  font-style: italic;
  font-weight: bold;
}


.slideshowContainter{
  height: 100%;
  background-color: #f7f7ef;
}
.slideshow{
  width: 100%;
  position: relative;
}
.slideshowContainer>.slideshow>img{
  
}
.slideshow>img>.mySlides {
  display:none;
  width: 30%;
  height: 50%;
}
.slideshow>button{
  position: absolute;
  margin-top: -40%;
}
#slideshowButton2{
  margin-left: 97%;
}
#logo{
  display: block;
  text-align: center;
  width: 50;
  right-margin: 20;
  float: center;
}
.demo{
  margin-top: 3%;
  padding: 15px;
  margin-left: 13%;
  margin-right: 13%;
  color: white;
  display: block;
}
.tabtext{
  margin-left: 1%;
  text-align: left;
}
#d{
  margin-left: 25%; 
  color: black;
  text-shadow: all;
}
.footer{
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.logindetails>.open-button {
  background-color: #f7f7ef;
  color: white;
  cursor: pointer;
  float: right;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #f7f7ef;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
img{
  max-height: 100%;
  max-width: 100%;
}
#lineTop{
   border-top: 2px solid black;
}
#userform{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: #efe6e6;
}
#userform>.inputlable{
  margin-left: 2%;
  height: 50px;
  width: 700px;
  color: #E23625;
  border: 1px solid black;
  border-radius: 5px;
}
#userform>.formlable{
  margin-left: 2%;
  font-size: 20px;
  color: #E23625;
  font-weight: bold;
  font-style: italic;
}
.formtextarea{
  margin-left: 2%;
  height: 90px;
  width: 700px;
  color: #E23625;
  border: 1px solid black;
  border-radius: 5px;
}
#formsubmit{
  margin-left: 2%;
  background-color: #332965;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  width: 100px;
}

.aimcontent{
  background-color: #f7f7ef;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.aimcontent>.paim{
  color: #E23625;
  margin-left: 2%;
}
.mainContent>#oval_parent{
    background:#f7f7ef;
    margin-right: 20%;
    margin-left: 35%;
    width:250px;
    height:320px;
    overflow:hidden;
}

.mainContent>#oval_parent>#oval{
    width: 270px;
    height: 300px;
    margin:10px 0 0 -10px;  
    background: #f7f7ef;
    border-radius: 200px / 150px;
}
.mainContent>#oval_parent>#oval>img{
  height: 300px;
  border-radius: 200px / 150px; 
}
.mainContent2{
  margin-left: 15%;
  margin-right: 15%;
  height: 330px;
  width: 70%;
}
.mainContent2>#oval_parent1{
    margin-left: 8%;
    width:250px;
    height:320px;
    overflow:hidden;
}
.mainContent2>#oval_parent1>#oval{
    width: 270px;
    height: 300px;
    margin:10px 0 0 -10px;  
    background: #f7f7ef;
    border-radius: 200px / 150px;
}
.mainContent2>#oval_parent1>#oval>img{
  height: 300px;
    border-radius: 200px / 150px; 
}

.mainContent2>#oval_parent2{
  background:#f7f7ef;
    margin-top: -33.9%;
    margin-left: 64%;
    width:250px;
    height:320px;
    overflow:hidden;
}

.mainContent2>#oval_parent2>#oval{
    width: 270px;
    height: 300px;
    margin:10px 0 0 -10px;  
    background: #f7f7ef;
    border-radius: 200px / 150px;
}
.mainContent2>#oval_parent2>#oval>img{
  height: 300px;
    border-radius: 200px / 150px; 
}
#ovalpg0{
  margin-left: 42%;
}
#ovalpg1{
  margin-left: 23%;
}
#ovalpg2{
  margin-top: -7%;
  margin-left: 61.5%;
}
h2{
  color: #332965;
}
h3{
  color: #E23625;
  font-style: italic;
}
.mainContent3{
  margin-left: 15%;
  margin-right: 15%;
  height: 330px;
  width: 70%;
}
.mainContent3>#oval_parent3{
    margin-left: 8%;
    width:250px;
    height:320px;
    overflow:hidden;
}
.mainContent3>#oval_parent3>#oval{
    width: 270px;
    height: 300px;
    margin:10px 0 0 -10px;  
    background: #f7f7ef;
    border-radius: 200px / 150px;
}
.mainContent3>#oval_parent3>#oval>img{
  height: 300px;
    border-radius: 200px / 150px; 
}

.mainContent3>#oval_parent4{
    background:#f7f7ef;
    margin-top: -33.9%;
    margin-left: 64%;
    width:250px;
    height:320px;
    overflow:hidden;
}

.mainContent3>#oval_parent4>#oval{
    width: 270px;
    height: 300px;
    margin:10px 0 0 -10px;  
    background: #f7f7ef;
    border-radius: 200px / 150px;
}
.mainContent3>#oval_parent4>#oval>img{
  height: 300px;
  border-radius: 200px / 150px; 
}
#test{
  content: url('jackma.jpg');
}
#test1{
  transition-duration: 10s;
  content: url('oldage.jpg');
}